@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.card {
  background-color: #f1f1f1;
  /* Light grey */
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stars {
  font-size: 25px;
}

#stars {
  cursor: pointer;
}

.stars:hover,
.star1,
.star2,
.star3,
.star4 {
  color: #ffd700;
  /* Gold */
}

.star5 {
  color: #808080;
  /* Grey */
}

.stock {
  color: #ff0000;
  /* Red */
}

.h-10 {
  height: 80px;
  background-color: #f8f8f8;
  /* Light grey */
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

.remove {
  background-color: transparent;
  color: #ff0000;
  /* Red */
  border: none;
}

.remove:hover {
  color: #ff0000;
  /* Red */
  text-shadow: 1px 2px 10px rgba(230, 116, 75, 0.5);
}

.price,
.qty {
  font-size: 20px;
}

@media screen and (max-width: 320px) {

  .qty,
  .price {
    font-size: 14px;
  }
}

.total {
  border: 2px solid #000000;
  /* Black */
  background-color: #000000;
  /* Black */
  color: #ffffff;
  /* White */
  border-radius: 50%;
  width: 50px;
  padding: 4px;
}